<%- include('./partials/head.ejs') %>

<h1>LN Merchants</h1>
<h2>Accepting payments via LN⚡️ ?</h2>
<h2>Add your business to let bitcoiners know</h2>
<p><a href="/login">Login</a></p>
<p><a href="/register">Register</a></p>

<%- include('./partials/foot.ejs') %>