<%- include('./partials/head.ejs') %> <%- include('./partials/flash.ejs') %>
<!-- <%console.log(locals)%> -->

<div class="lnlogo">
  <img src="/images/Lightning_Network.svg" />
</div>
<form method="get" action="/merchants/search">
  <label for="name"></label>
  <input
    type="text"
    name="Search"
    id="Search`"
    placeholder="Search LN Merchants"
    required
    minlength="4"
  />
  <br />
  <div class="findBtn">
    <input type="submit" value="Find Merchants ⚡️" />
  </div>
</form>

<!-- <div class="loader">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
  <div class="bar4"></div>
  <div class="bar5"></div>
  <div class="bar6"></div>
</div> -->

<div class="anchor">
  <a href="/merchants/all/">Show All</a>
</div>

<%- include('./partials/foot.ejs') %>
